go 1.20

toolchain go1.20

use (
	./app
	./app/example
	./async
	./async/example
	./functional
	./ginext
	./ginext/example
	./gormext
	./gormext/example
	./grpcext
	./grpcext/example-server
	./grpcext/example-client
	./httpext
	./httpext/example
	./cache
	./cache/example
	./logger
	./logger/example
	./monitor
	./retriever
	./retriever/example
	./tracer
)
