go 1.20

toolchain go1.20

use (
	./app
	./app/example
	./dbtracker
	./dbtracker/example
	./ginterceptor
	./ginterceptor/example
	./httpcli
	./httpcli/example
	./logger
	./logger/example
	./monitor
	./retriever
	./retriever/example
)
